.button {
  border: none;
  margin: 0;
  text-decoration: none;
  line-height: 1;
  outline: none;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
