@import 'assets/scss/abstracts/_variables';
@import 'assets/scss/abstracts/_mixins';
.sidebarLeft {
  top: 1rem;
  left: -100%;
  &.sidebarLeftOpen {
    left: 1rem;
  }
  @include breakpoint-up(lg) {
    left: 1rem;
  }
}


