.container {
  position: relative;
  z-index: 9999;
}

.line {
  height: 2px;
  width: 30px;
  background-color: black;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  &:nth-child(1) {
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
    -moz-transform: translateY(0) rotate(0deg);
    -ms-transform: translateY(0) rotate(0deg);
    -o-transform: translateY(0) rotate(0deg);
  }
  &:nth-child(2) {
    transform: translateY(6px) rotate(0deg);
    -webkit-transform: translateY(6px) rotate(0deg);
    -moz-transform: translateY(6px) rotate(0deg);
    -ms-transform: translateY(6px) rotate(0deg);
    -o-transform: translateY(6px) rotate(0deg);
  }
  &:nth-child(3) {
    transform: translateY(12px) rotate(0deg);
    -webkit-transform: translateY(12px) rotate(0deg);
    -moz-transform: translateY(12px) rotate(0deg);
    -ms-transform: translateY(12px) rotate(0deg);
    -o-transform: translateY(12px) rotate(0deg);
  }

  &.lineOpen {
    &:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
      -webkit-transform: translateY(8px) rotate(45deg);
      -moz-transform: translateY(8px) rotate(45deg);
      -ms-transform: translateY(8px) rotate(45deg);
      -o-transform: translateY(8px) rotate(45deg);
    }
    &:nth-child(2) {
      transform: translateY(1px) rotate(45deg);
      -webkit-transform: translateY(1px) rotate(45deg);
      -moz-transform: translateY(1px) rotate(45deg);
      -ms-transform: translateY(1px) rotate(45deg);
      -o-transform: translateY(1px) rotate(45deg);
      display: none;
    }
    &:nth-child(3) {
      transform: translateY(6px) rotate(-45deg);
      -webkit-transform: translateY(6px) rotate(-45deg);
      -moz-transform: translateY(6px) rotate(-45deg);
      -ms-transform: translateY(6px) rotate(-45deg);
      -o-transform: translateY(6px) rotate(-45deg);
    }
  }
}

[data-theme='dark'] {
  .line {
    background: #fff;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.lineContainer {
  width: 24px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  background-color: transparent;
  cursor: pointer;
}
