@import 'assets/scss/abstracts/_variables';
@import 'assets/scss/abstracts/_mixins';

.sidebarRight {
  top: 1rem;
  bottom: 1rem;
  right: -100%;
  &.sidebarRightOpen {
    right: 1rem;
  }
  @include breakpoint-up(lg) {
  right: 1rem;
  }
}
