@import 'assets/scss/abstracts/_variables';

[data-theme='dark'] {
  .sidebar {
    background-color: $gray900;
    color: $white;
  }
}
.sidebar {
  padding: 1rem;
  background: $white;
  color: $black;
  width: 16rem;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
