*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: $white;
  color: $black;
  height: 100%;
  position: relative;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.cursor {
  &--pointer {
    cursor: pointer;
  }
}

/* The loading Class */
.skeleton {
  position: relative;
  background-color: #e2e2e2;
}

/* The moving element */
.skeleton::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(rgba(255, 255, 255, 0.2)),
    to(transparent)
  );

  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);

  /* Adding animation */
  animation: skeleton 0.8s infinite;
}

/* skeleton Animation */
@keyframes skeleton {
  100% {
    transform: translateX(100%);
  }
}

body {
  & [data-theme='dark'] {
    background-color: $black;
    color: $white;
    & .map-tiles {
      filter: var(--map-tiles-filter, none);
    }
  }
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
}

:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}
