@import 'assets/scss/abstracts/_variables';
@import 'assets/scss/abstracts/_mixins';
.main {
  display: flex;
  position: absolute;
  top: 148px;
  right: 0;
  left: 0;
  bottom: 60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  background: inherit;
  @include breakpoint-up(lg) {
    bottom: 0;
  }
}

.mobileNav {
  z-index: 9999;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
}
